html, body {
    min-width: 400px;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0f9ff, #cbebff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px gray;
    max-width: 400px;
    width: 100%;
    border: 2px solid gray;
    transition: 0.3s ease;
}

.container:hover {
    transform: scale(1.03);
}

h1 {
  color: darkslategray;
  margin-bottom: 20px;
  margin: 20px;
}

h2 {
  font-size: 49px;
  margin: 20px auto;
  background: whitesmoke;
  width: 100px;
  height: 100px;
  line-height: 100px;          
  border-radius: 50%;
  border: 3px solid darkcyan;
  color: darkcyan;
}

button {
  margin: 8px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 25px;
  border: 2px solid darkcyan;
  background: whitesmoke;
  color: darkcyan;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
}

button:hover {
  background: darkcyan;
  color: white;
}

@media (max-width: 500px) {
    .container{
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    .container{
        max-width: 200px;
    }
}